.shopGrid {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 2rem;
}

.shopItem {
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}